<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th class="hideOn400">Email</th>
      <th colspan="3">options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td class="hideOn400"><%= user.email %></td>
        <td><%= link_to 'R', user %></td>
        <td><%= link_to 'U', edit_user_path(user) %></td>
        <td><%= link_to 'D', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
