<p id="notice"><%= notice %></p>

<%= provide(:title, @user.name) %>
<div class="container">
  <div class="row">
      <aside class="col-md-4 .ml-1">
        <section class="user_info">
          <h1><%= gravatar_for @user %></h1>
          <p><%= @user.name %></p>
        </section>
      </aside>

      <div class="col-md-4 .mr-1">
        <div>
          id = <%= params[:id] %>
        </div>


        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>


        <p>
          <strong>Password:</strong>
          <%= @user.password %>
        </p>


        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </div>
  </div>
</div>


<div class="icons8">icon by <a href="https://icons8.com/license/">icons8</a></div>
