<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

      <%= link_to("sample app", '#', id: 'logo') %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "root",'/'  %></li>
        <li><%= link_to "users",'/users'  %></li>
        <li><%= link_to "microposts",'/microposts'  %></li>
        <li><%= link_to "home",'/static_pages/home'  %></li>
        <li><%= link_to "help",'/static_pages/help'  %></li>
        <li><%= link_to "about",'/static_pages/about'  %></li>
        </ul>
      </nav>
    </div>
</header>
