<nav class="navbar navbar-expand-md navbar-dark bg-dark">

<%= link_to("Logo Here", '/',{class:"navbar-brand",id: 'logo'}) %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active"><%= link_to "root", root_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "users", users_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "microposts", microposts_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "home", home_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "help", help_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "about", about_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "contact", contact_path,{class:"nav-link"} %></li>
      <li class="nav-item"><%= link_to "login", login_path,{class:"nav-link"} %></li>
    </ul>


    </div>
  </nav>


<script type="text/javascript"></script>
